<footer class="bg-dark text-center text-white" style="margin-top: 10%">
  <div class="container p-4">
    <section class="mb-4">
      <!-- Linkedin -->
      <a class="btn btn-floating m-1" href="https://www.linkedin.com/in/miguel-angel-saavedra-lozano-552320205/" role="button">
          {% load static %}
          <img src="{% static 'Eventos/images/link.png' %}">
      </a>
      <!-- Github -->
      <a class="btn btn-floating m-1" href="https://github.com/MSL01" role="button">
          {% load static %}
          <img src="{% static 'Eventos/images/git.png' %}">
      </a>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Prueba, Registro de eventos
  </div>
</footer>